
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#objects
{
font-size: 18px;
}

canvas{
    border-style:solid;
    border-color:black
    ;
}
body{
    background-size: cover;
    background-position: center;
}